language: r
warnings_are_errors: true
sudo: required
dist: trusty
apt_packages:
  - libproj-dev
  - libcurl4-gnutls-dev
  - libdap-dev
  - libgdal-dev
  - libgdal1h
  - libhdf5-dev
  - libhdf5-serial-dev
  - libgdal-dev
  - libgdal1-dev
before_install:
  - sudo apt-get update
  - sudo apt-get install libgdal1h
  - sudo apt-get install libgdal1
install:
  - Rscript -e 'if(!"rgdal" %in% rownames(installed.packages())) install.packages("rgdal", dependencies = TRUE)'
  - Rscript -e 'if(!"devtools" %in% rownames(installed.packages())) install.packages("devtools", dependencies = TRUE)'
  - Rscript -e 'if(!"rmarkdown" %in% rownames(installed.packages())) install.packages("rmarkdown", dependencies = TRUE)'
  - Rscript -e 'devtools::install_deps(pkg=".", dependencies = TRUE)'
