language: r
warnings_are_errors: true
sudo: required

dist: trusty
before_install:
- sudo apt-get update -qq
- sudo apt-get install -y
  libhdf5-7 libhdf5-dev
  libgdal1h libnetcdf-dev
  gdal-bin libproj-dev libgdal-dev
  imagemagick
  
-r_binary_packages:		
  - devtools
  
install:
  - Rscript -e 'install.packages(c("viridis", "animation", "rmarkdown", "rgdal"), dependencies = TRUE)'

notifications:
  on_success: change
  on_failure: always
  